# Project specific
Grivances/results/


myenv/
venv/
env/
.env/
.venv/

DataAnalysis/__pycache__/
GrievanceProofs/Images/
GrievanceProofs/results/
GrievanceProofs/saved_models/
Grivances/cache/
Grivances/checkpoints/
Grivances/grievance_model/
Grivances/impact_models/
Grivances/model_output/
Grivances/saved_model/
Grivances/unified_model/
